// ----
// Sass (v3.4.21)
// Compass (v1.0.3)
// ----

//++
//Brand SASS Variables
//------

//colors
$brand-blue: #263c9f;
$brand-light-blue: #ebebf6;
$brand-light-grey: #eee;
$brand-white: #fff;
$brand-red: #660000;
$brand-light-red: #f6ebeb;
$white: white;

$brand-primary: $brand-blue;
$brand-primary-light: $brand-light-blue;
$brand-secondary: $brand-red;
$brand-secondary-light: $brand-light-red;

a {
	color: $brand-secondary;
	
	&:hover {
		color: $brand-primary;
	}
}

.site-header {
	background-color: $brand-light-grey;

	.site-title {
		a {
			color: $brand-primary;

			&:hover {
				color: $brand-primary;
			}
		}
	}

	.title-area {
		width: auto;
		height: initial;
    	text-indent: initial;
    	font-size: 1.4em;
    	color: #666;
	}

	.widget-area {
		width: auto;

		#zoom-social-icons-widget-2 {
			padding-right: 20px;
		}
	}

	.widget {
		float: right;
			
		a {
			button {
			background: $brand-blue;
			color: $white;

				&:hover {
					background: $brand-secondary;
					color: $white;
				}
			}
		}
	}
}


.nav-primary {
	background: $brand-blue;
}


.home-top {
	.widget {
		font-size: 14px;

		&:first-child {
			padding: 0;
		}

		h5 {
			color: $brand-blue;
		}
	}

	img {
		margin: -10px 0;
	}
}


.home-bottom {
	.featuredpage {
		a {
			color: $brand-blue;

			&:hover {
				color: $brand-secondary;
			}

			&.more-link {
				border: none;
				border-radius: 3px;
				color: $white;
				cursor: pointer;
				font-size: 16px;
				font-weight: 400;
				padding: 16px 24px;
				text-transform: uppercase;
				width: auto;
				background: $brand-blue;

				&:hover {
					background: $brand-secondary;
				}
			}
		}
	}
}

.home-bottom-after {
	background: $white;

	.widget-title {
		color: $brand-secondary;
		padding: 10px 0 0;
		font-size: 1.8em;
	}

	#menu-services li {
		display: inline-block;
		border-bottom: none;

		a {
			color: $brand-blue;
			padding: 0;
			padding-right: 5px;
			margin-right: 5px;
			border-right: 1px solid;

			&:hover {
				color: $brand-secondary;
			}
		}

		&:last-child a {
			color: $brand-secondary;
			border-right: none;
		}
	}
}

.sub-footer {
	background: $brand-primary-light;

	a {
		color: $brand-primary;
	}

	.entry-title {
		font-size: 20px;
		display: inline-block;
	}

	.entry-meta {
		display: inline-block;
		float: right;
	}

	.more-from-category {
		text-align: right;
	}

	.widget-title {
		color: $brand-primary;
	}
}

button, .button, input[type="button"], input[type="reset"], input[type="submit"] {
	padding: 10px;
	background-color: $brand-secondary;

	&:hover {
		background-color: $brand-blue;
	}
}

.genesis-nav-menu {
	.current-menu-item > a {
		background: $brand-secondary;
		color: $white;
	}
	.sub-menu .current-menu-item > a:hover {
		background: $brand-secondary;
		color: $white;
	}
	a:hover {
		background: $brand-secondary;
		color: $white;
	}
	li:hover > a {
		background: $brand-secondary;
		color: $white;
	}
}

.master-slider-main-widget {
	.ms-info {
	    padding: 40px;
	}
}

.gform_wrapper .gform_body {
	.field_sublabel_below {

		.ginput_complex.ginput_container label {
			display: none;
		}

		div[class*=gfield_time_].ginput_container label {
			display: none;
		}
	}

	.top_label .gfield_label {
		display: none;
	}
	.gform_fields .gfield {
		padding: 0;
		border-bottom: none;
	}
	input:not([type=radio]), input:not([type=checkbox]), input:not([type=submit]), input:not([type=button]), input:not([type=image]), input:not([type=file]) {
		padding: 10px;
	}
}
